
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
@import url(http://fonts.googleapis.com/css?family=Raleway:600,400);

* {
	margin: 0;
	padding: 0;
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust:none;
}

h1, h2, h3, p {
	font-family: 'Raleway', sans-serif;
	margin: 20px 0px;
}

h1, h3 {
	font-weight: 600;
}

h2, p, a {
	font-weight: 400;
}

p {
	text-align: justify;
}

a {
	color: #0060D6;
	text-decoration: none;
}

a:hover {
	color: #00dddd;
}

.ditto {
	-webkit-animation: tachan 1s ease-out 0s;
	max-width: 840px;
	margin: 100px auto 0px;
	padding: 0px 30px;
}

@-webkit-keyframes tachan { from { opacity: 0 } to { opacity: 1 } }

.top > h1, h2 {
	text-align: center;
}

.top p {
    font-size: 20px;
}

.top img {
	display: block;
	margin: auto;
	width: 128px;
	height: 128px;
	border-radius: 64px;
}

.links {
	margin: 100px 0px;
	text-align: center;
}

.links a {
	transition: color 0.25s;
	margin: 10px;
	display: inline-block;
	vertical-align: middle;
	color: black;
}

.links a:hover {
	color: #3884FF;
}

.project {
	margin: 100px 0px;
}

.project img {
	width: 100%;
}

.small-cut {
    margin: 90px 0px 100px;
}

.cut {
	margin: 190px 0px 100px;
}

#signature {
	text-align: center;
	margin: 100px 0px;
}
