
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
@import url(http://fonts.googleapis.com/css?family=Raleway:600,400);

* {
	margin: 0;
	padding: 0;
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust:none;
}

html, body {
	height: 100%;
}

body {
	opacity: 0;
}

@media (max-height: 534px) {

	.top {
		margin-top: 0px !important;
		height: 100%;
		position: relative;
	}

	.links {
		margin-top: 35px !important;
	}

	.snorlax {

		position: relative;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);

	}
}

h1, h2, h3, p {
	font-family: 'Raleway', sans-serif;
	margin: 20px 0px;
}

h1, h3 {
	font-weight: 600;
}

h2, p, a {
	font-weight: 400;
}

p {
	text-align: justify;
}

a {
	color: #0060D6;
	text-decoration: none;
}

a:hover {
	color: #00dddd;
}

.ditto {
    max-width: 840px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 30px 100px;
}

.top {
	margin-top: 150px;
	padding: 0px 30px;
}

.top h1, .top h2 {
	text-align: center;
}

.hello p {
    font-size: 20px;
}

.top img {
    display: block;
    margin: auto;
    width: 128px;
    height: 128px;
    border-radius: 64px;
}

.links {
	margin: 70px 0px;
	text-align: center;
}

.link-pair {
    display: inline-block;
    vertical-align: middle;
}

.links a {
	transition: color 0.25s;
	margin: 10px;
	display: inline-block;
	vertical-align: middle;
	color: black;
}

.links a:hover {
	color: #3884FF;
}

.project {
	margin: 100px 0px;
}

.project img {
	width: 100%;
}

.text-link {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.cut {
	margin: 150px 0px 100px;
}

#signature {
	text-align: center;
	margin-top: 100px;
	cursor: pointer;
}
