
body {
    padding: 0px;
    margin: 0px;
}

h1, h2, h3, p, a {
	font-family: 'Raleway', sans-serif;
}

h1, h3 {
	font-weight: 600;
}

h2, p, a {
	font-weight: 400;
}

a {
	color: #0060D6;
	text-decoration: none;
}

a:hover {
	color: #00dddd;
}

.sea {
	
	max-width: 840px;
	margin: auto;
}

.ship {
	-webkit-animation: tachan 1s ease-out 0s;
	padding-left: 20px;
	padding-right: 20px;
}

@-webkit-keyframes tachan { from { opacity: 0 } to { opacity: 1 } }

#bio {
	margin: 100px 0px;
}

#bio > h1, h2 {
	text-align: center;
}

#avatar {
	display: block;
	margin: auto;
	width: 128px;
	height: 128px;
	border-radius: 64px;
	background-color: black;
	overflow: hidden;
}

#avatar > img {
	width: 128px;
	height: 128px;
}

#button-stack {
	margin: 100px 0px;
	text-align: center;
}

.inline-button {
	transition: color 0.25s;
	color: black;
	margin: 0px 10px;
	display: inline-block;
	vertical-align: middle;
}

.inline-button:hover {
	color: #00dddd;
}

.project {
	margin: 100px 0px;
}

.project-image {
	width: 100%;
    min-height: 100px;
    max-height: 200px;
	background-color: #00dddd;
    overflow: hidden;
}

.project-image > img {
    width: 100%;
}

.project > p {
	text-align: justify;
}

.cut {
	margin-top: 200px;
}

#signature {
	text-align: center;
	margin: 100px 0px;
}