<header class="site-header">
  <div class="snorlax">
    <div class="avatar loader"></div>
    <img id="avatar" class="avatar" src="http://gravatar.com/avatar/9f6b611621d0badefd28429ea60299c7?s=256" />
    <a id="say-my-name" href="{{ site.baseurl }}/">dasilvacontin</a>
    <div class="links">
      <a href="http://github.com/dasilvacontin"><i class="fa fa-github fa-2x"></i></a>
      <a href="mailto:dasilvacontin@gmail.com"><i class="fa fa-at fa-2x"></i></a>
      <a href="https://twitter.com/dasilvacontin"><i class="fa fa-twitter fa-2x"></i></a>
    </div>
  </div>

  <div class="ribbon">
    <a href="https://github.com/dasilvacontin">Fork me on GitHub</a>
  </div>
</header>
