/**
 * Site header
 */
.site-header {
    margin-top: 150px;
    margin-bottom: 115px;
    padding: 0px 30px;
    text-align: center;
 	  .avatar {
        display: block;
        margin: auto;
        width: 128px;
        height: 128px;
        border-radius: 64px;
        background-color: #0dd;
    }
}

#say-my-name {
    @extend h1;
    display: block;
    margin: 10px 0 3px;
    color: $text-color;
}


/**
 * Footer
 */
#signature {
    text-align: center;
    margin: 100px 0px;
    cursor: pointer;
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    margin-bottom: 0px;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        margin: 80px 0px 30px;
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

    p {
        margin-bottom: 30px;
        &:last-child {
            margin-bottom: 0;
        }
    }

    ul {
        margin: 30px;
        margin-right: 0;
    }

    li {
        margin: 15px 0px;
    }
}
