body {
  margin: 100px 0;
  padding: 0;
  background-color: #F7F9FB;
  color: #62628A;
  text-align: center;
  font-family: 'Inconsolata', monospace;
}

header { margin: 40px 0; }

#avatar {
  display: inline-block; /* for a smaller hover area */
  width: 200px;
  height: 200px;
  border-radius: 15px;
  background: #111 url(http://gravatar.com/avatar/9f6b611621d0badefd28429ea60299c7?s=512) no-repeat center center;
  background-size: cover;
  transition: width 0.5s;
}
#avatar.cinema { width: 430px }

h1 {
  display: inline-block; /* otherwise hover area is huge */
  font-size: 27px;
  margin: 15px 0;
  color: rgba(171, 201, 255, 0.82);
}

p, li {
  font-size: 14px;
  line-height: 20px;
  margin: 10px 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul { padding: 0 }

.wrapper {
  margin: 0 auto;
  text-align: left;
  max-width: calc(3 * 230px);
  width: 100%;
}

.bio {
  box-sizing: border-box;
  width: 100%;
  padding: 0 40px;
  max-width: 510px;
  margin: 0 auto;
  margin-bottom: 75px;
  text-align: justify;
}
.bio a { color: rgba(89, 149, 255, 0.98) }

#repos {
  transition: opacity 0.3s;
  opacity: 0;
}
.repo {
  display: inline-block;
  width: 200px;
  margin: 15px;
  margin-top: 0;
  padding-top: 15px; /* for better hover area */
  vertical-align: top;
  text-align: center;
  cursor: help;
}
.repo img { width: 32px; }
.repo--name {
  font-weight: 700;
  position: relative;
}
.repo--name[data-stars]::after {
  content: attr(data-stars);
  color: rgba(171, 201, 255, 0.5);
  padding-left: 7px;
  position: absolute;
}

a:hover, a:hover h1, a:hover div {
  animation: hue-rotate 1.5s linear infinite;
}

@keyframes hue-rotate {
  from {
    -webkit-filter: hue-rotate(0);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
  }
}

@media (max-width: 689px) {
  .wrapper {
    max-width: calc(2 * 230px);
  }
}

@media (max-width: 459px) {
  .wrapper {
    max-width: 230px;
  }
}

/* ugly emojis */
img.gh-emoji.gh-emoji-iphone {
  margin-left: -5px;
}
