@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
@import url(http://fonts.googleapis.com/css?family=Raleway:600,400);

* {
	margin: 0;
	padding: 0;
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust:none;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 16px;
}

@media (max-height: 585px) {
	.snorlax {
		position: relative;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}
}

.section-title {
	margin: 70px 0px 30px;
}

.links {
	text-align: center;
}

.links a {
	font-size: 12px;
	transition: color 0.25s;
	margin: 4px;
	display: inline-block;
	vertical-align: middle;
	color: black;
}

.links a:hover {
	color: #3884FF;
}

