<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body class="page-post">

  <!-- <img src="/images/blog.png" style="position: fixed; top: 0; left: -350px; opacity: 0.1; z-index: -1;" /> -->

  <a class="go-home-bar" href="/">&lt; &lt; &lt; back to dasilvacontin's home &lt; &lt; &lt;</a>

  <div class="container">
    <small>
      <img class="avatar" src="/images/avatar.jpg">
      <p>デイビッド</p>
    </small>

    <div class="post">
      <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
        <p class="post-meta">{{ page.date | date: "%B %-d, %Y" }}</p>
        <p class="post-meta">7 min. reading time</p>
      </header>

      <article class="post-content">
        {{ content }}
      </article>
    </div>

    <div>
      <!-- Go to www.addthis.com/dashboard to customize your tools -->
      <script type="text/javascript" src="https://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5b7595602155b131"></script>
      <!-- AddToAny BEGIN 
      <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
        <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
        <a class="a2a_button_facebook"></a>
        <a class="a2a_button_twitter"></a>
        <a class="a2a_button_linkedin"></a>
        <a class="a2a_button_telegram"></a>
      </div>
      <script async src="https://static.addtoany.com/menu/page.js"></script>
      <!-- AddToAny END -->
    </div>
  </div>

  {% include author-about.html %}

  {% include footer.html %}

</body>

</html>