<!-- Color variants -->
<ul class="tag-list">
    <li><span class="tag tag--gray">Gray</span></li>
    <li><span class="tag tag--brown">Brown</span></li>
    <li><span class="tag tag--yellow">Yellow</span></li>
    <li><span class="tag tag--blue">Blue</span></li>
    <li><span class="tag tag--purple">Purple</span></li>
    <li><span class="tag tag--pink">Pink</span></li>
    <li><span class="tag tag--green">Green</span></li>
</ul>

<!-- Entry variants -->
<ul class="tag-list">
    <li><span class="tag tag--b2b">B2B</span></li>
    <li><span class="tag tag--b2c">B2C</span></li>
    <li><span class="tag tag--for-fun">For fun! 🥳</span></li>
    <li><span class="tag tag--internal">Internal</span></li>
    <li><span class="tag tag--external">External</span></li>
    <li><span class="tag tag--design-system">Design System</span></li>
    <li><span class="tag tag--feature">Feature</span></li>
    <li><span class="tag tag--sales-prototype">Sales Prototype</span></li>
</ul>
