<section class="profile-section">
    <h2 class="section-title">Experience</h2>
    <div class="profile-section-entries">
        <div class="entry-row">
            <div class="entry-left">
                <ul class="tag-list">
                    <li><span class="tag tag--b2b">B2B</span></li>
                </ul>
                <span class="entry">@ Green Project</span>
            </div>
            <div class="entry-right"><span class="hero-context entry-metadata">2026–Present</span></div>
        </div>
        <div class="entry-row">
            <div class="entry-left">
                <ul class="tag-list">
                    <li><span class="tag tag--b2b">B2B</span></li>
                </ul>
                <span class="entry">@ Green Project</span>
            </div>
            <div class="entry-right"><span class="hero-context entry-metadata">2025–2026</span></div>
        </div>
        <div class="entry-row">
            <div class="entry-left">
                <span class="entry">@ Emitwise </span>
                <ul class="tag-list">
                    <li><span class="tag tag--b2b">B2B</span></li>
                </ul>
            </div>
            <div class="entry-right"><span class="hero-context entry-metadata">2022–2025</span></div>
        </div>
        <div class="entry-row">
            <div class="entry-left">
                <span class="entry">@ Emitwise </span>
                <ul class="tag-list">
                    <li><span class="tag tag--b2b">B2B</span></li>
                </ul>
            </div>
            <div class="entry-right"><span class="hero-context entry-metadata">2021–2022</span></div>
        </div>
        <div class="entry-row">
            <div class="entry-left">
                <ul class="tag-list">
                    <li><span class="tag tag--b2c">B2C</span></li>
                </ul>
            </div>
            <div class="entry-right"><span class="hero-context entry-metadata">2020</span></div>
        </div>
        <div class="entry-row">
            <div class="entry-left">
                <span class="entry">@ Sensa</span>
                <ul class="tag-list">
                    <li><span class="tag tag--b2c">B2C</span></li>
                </ul>
            </div>
            <div class="entry-right"><span class="hero-context entry-metadata">2018–2020</span></div>
        </div>
        <div class="entry-row">
            <div class="entry-left">
                <span class="entry">@ the3million</span>
            </div>
            <div class="entry-right"><span class="hero-context entry-metadata">2019</span></div>
        </div>
        <div class="entry-row">
            <div class="entry-left">
                <span class="entry">@ Improbable</span>
                <ul class="tag-list">
                    <li><span class="tag tag--b2b">B2B</span></li>
                </ul>
            </div>
            <div class="entry-right"><span class="hero-context entry-metadata">2017</span></div>
        </div>
        <div class="entry-row">
            <div class="entry-left">
                <span class="entry">@ Toggl</span>
                <ul class="tag-list">
                    <li><span class="tag tag--b2b">B2B</span></li>
                </ul>
            </div>
            <div class="entry-right"><span class="hero-context entry-metadata">2015–2016</span></div>
        </div>
        <div class="entry-row">
            <div class="entry-left"></div>
            <div class="entry-right"><span class="hero-context entry-metadata">2014–2015</span></div>
        </div>
        <div class="entry-row">
            <div class="entry-left">
                <span class="entry">@ Mocha.js</span>
            </div>
        </div>
        <div class="entry-row">
            <div class="entry-left">
                <span class="entry">@ HackUPC</span>
            </div>
            <div class="entry-right"><span class="hero-context entry-metadata">201X–201Y</span></div>
        </div>
        <div class="entry-row">
            <div class="entry-left">
                <span class="entry">@ VGAFIB</span>
            </div>
            <div class="entry-right"><span class="hero-context entry-metadata">201X–201Y</span></div>
        </div>
        <div class="entry-row">
            <div class="entry-left">
                <span class="entry">@ Incubio</span>
                <ul class="tag-list">
                    <li><span class="tag tag--b2c">B2C</span></li>
                </ul>
            </div>
            <div class="entry-right"><span class="hero-context entry-metadata">2013–2014</span></div>
        </div>
        <div class="entry-row">
            <div class="entry-left">
                <span class="entry">@ Infinitum</span>
            </div>
            <div class="entry-right"><span class="hero-context entry-metadata">2011–2013</span></div>
        </div>
    </div>
</section>
